:root {
  --neutral: #e0dedb;
  --neutral_txt: #;
  --charcoal: #333334;
  --blue: #2646f5;
  --blue_lt: #eff9fe;
  --blue_txt: #0025f3;
  --green: #2fb08f;
  --green_lt: #e7f6f2;
  --green_clr: #c2e3d9;
  --green_txt: #0aa27b;
  --orange: #ff8f57;
  --orange_lt: #fff4ee;
  --orange_clr: #fae0d1;
  --orange_txt: #ff8f57;
  --purple: #a45e7c;
  --purple_lt: #f3ebed;
  --purple_txt: #964d6b;
  --red: #ff6060;
  --red_lt: #feece6;
  --red_txt: #f31010;
  --yellow: #ffe126;
  --yellow_lt: #fffdf2;
  --yellow_clr: #fef6c8;
  --yellow_txt: #e7b431;
  --color1: var(--purple);
  --color1_lt: var(--purple_lt);
  --color1_txt: var(--purple_txt);
  --color2: var(--orange);
  --color2_lt: var(--orange_lt);
  --color2_clr: var(--orange_clr);
  --color2_txt: var(--orange_txt);
  --ptsize: 72px;
  --grid_size: 9;
  --column_margin: 0;
}

@font-face {
  font-family: AxZ;
  src: url(fonts/Capstone-Pattern_0.2.otf);
}

@font-face {
  font-family: Pitch;
  src: url(fonts/PitchSansTest-Semibold.otf);
}

#pattern {
  font-family: "AxZ";
  width: 100%;
  height: calc(50vw - 2*var(--column_margin));
  margin: 2% auto;
  word-break: break-all;
  font-size: calc((50vw - 2*var(--column_margin)) / var(--grid_size));
  line-height: calc((50vw - 2*var(--column_margin)) / var(--grid_size));
  color: var(--color2);
  overflow: hidden;
  background: var(--color1);
}
